#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = optimize=-lto
export CARGO_NET_OFFLINE = true
export WE_LAYERD_INSTALL_PREFIX = /usr

PACKAGE_ROOT := $(CURDIR)/debian/we-layerd
PACKAGE_USR := $(PACKAGE_ROOT)/usr
PRIVATE_LIB := $(PACKAGE_USR)/lib

ifeq ($(strip $(WE_LAYERD_PREBUILT_ROOT)),)
BUILD_BIN := $(CURDIR)/target/release
BUILD_LIB := $(CURDIR)/target/we-renderer-upstream/install/lib
else
BUILD_BIN := $(WE_LAYERD_PREBUILT_ROOT)/bin
BUILD_LIB := $(WE_LAYERD_PREBUILT_ROOT)/lib
endif

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	test -n "$(CEF_ROOT)"
	test -f "$(CEF_ROOT)/Release/libcef.so"
	test -n "$(DXC_ROOT)"
	test -f "$(DXC_ROOT)/lib/libdxcompiler.so"
	if [ -n "$(WE_LAYERD_PREBUILT_ROOT)" ]; then \
		test -x "$(BUILD_BIN)/we-layerd"; \
		test -x "$(BUILD_BIN)/we-gui"; \
		test -f "$(BUILD_LIB)/libwallpaper-engine-renderer.so"; \
		test -x "$(BUILD_LIB)/we-cef-helper"; \
	else \
		CEF_ROOT="$(CEF_ROOT)" \
		CMAKE_PREFIX_PATH="$(DXC_ROOT)" \
		PATH="$(DXC_ROOT)/bin:$$PATH" \
		cargo build --frozen --offline --release -p we-layerd -p we-gui; \
	fi

override_dh_auto_test:
	LD_LIBRARY_PATH="$(BUILD_LIB)" \
		"$(BUILD_BIN)/we-layerd" --help >/dev/null

override_dh_auto_install:
	install -Dm0755 "$(BUILD_BIN)/we-layerd" \
		$(PACKAGE_USR)/bin/we-layerd
	install -Dm0755 "$(BUILD_BIN)/we-gui" \
		$(PACKAGE_USR)/bin/we-gui
	install -Dm0755 "$(BUILD_LIB)/libwallpaper-engine-renderer.so" \
		$(PRIVATE_LIB)/libwallpaper-engine-renderer.so
	install -Dm0755 "$(BUILD_LIB)/we-cef-helper" \
		$(PRIVATE_LIB)/we-cef-helper

	install -d $(PACKAGE_ROOT)/usr/share/gnome-shell/extensions/we-layerd@aromatic
	cp -a contrib/gnome-shell-extension/we-layerd@aromatic/. \
		$(PACKAGE_ROOT)/usr/share/gnome-shell/extensions/we-layerd@aromatic/
	find $(PACKAGE_ROOT)/usr/share/gnome-shell/extensions/we-layerd@aromatic \
		-type d -exec chmod 0755 {} +
	find $(PACKAGE_ROOT)/usr/share/gnome-shell/extensions/we-layerd@aromatic \
		-type f -exec chmod 0644 {} +

	install -Dm0644 apps/we-gui/assets/we-gui.desktop \
		$(PACKAGE_ROOT)/usr/share/applications/we-gui.desktop
	install -Dm0644 apps/we-gui/assets/we-gui-logo.svg \
		$(PACKAGE_ROOT)/usr/share/icons/hicolor/scalable/apps/we-gui.svg

	install -d $(PRIVATE_LIB)/we-layerd/dxc
	install -m0755 $(DXC_ROOT)/lib/libdxcompiler.so \
		$(PRIVATE_LIB)/we-layerd/dxc/libdxcompiler.so
	install -m0755 $(DXC_ROOT)/lib/libdxil.so \
		$(PRIVATE_LIB)/we-layerd/dxc/libdxil.so

	install -d $(PRIVATE_LIB)/cef
	cp -a $(CEF_ROOT)/Release/. $(PRIVATE_LIB)/cef/
	cp -a $(CEF_ROOT)/Resources/. $(PRIVATE_LIB)/cef/
	rm -f $(PRIVATE_LIB)/cef/chrome-sandbox
	find $(PRIVATE_LIB)/cef -type d -exec chmod 0755 {} +
	find $(PRIVATE_LIB)/cef -type f -exec chmod 0644 {} +
	chmod 0755 \
		$(PRIVATE_LIB)/cef/libcef.so \
		$(PRIVATE_LIB)/cef/libEGL.so \
		$(PRIVATE_LIB)/cef/libGLESv2.so \
		$(PRIVATE_LIB)/cef/libvk_swiftshader.so \
		$(PRIVATE_LIB)/cef/libvulkan.so.1
	strip --strip-unneeded \
		$(PRIVATE_LIB)/cef/libcef.so \
		$(PRIVATE_LIB)/cef/libEGL.so \
		$(PRIVATE_LIB)/cef/libGLESv2.so \
		$(PRIVATE_LIB)/cef/libvk_swiftshader.so \
		$(PRIVATE_LIB)/cef/libvulkan.so.1 \
		$(PRIVATE_LIB)/we-layerd/dxc/libdxcompiler.so \
		$(PRIVATE_LIB)/we-layerd/dxc/libdxil.so

	install -Dm0644 $(CEF_ROOT)/LICENSE.txt \
		$(PACKAGE_ROOT)/usr/share/doc/we-layerd/third-party/CEF-LICENSE.txt
	install -Dm0644 $(DXC_ROOT)/LICENSE-MS.txt \
		$(PACKAGE_ROOT)/usr/share/doc/we-layerd/third-party/DXC-LICENSE-MS.txt
	install -Dm0644 $(DXC_ROOT)/LICENSE-LLVM.txt \
		$(PACKAGE_ROOT)/usr/share/doc/we-layerd/third-party/DXC-LICENSE-LLVM.txt

	patchelf --set-rpath '$$ORIGIN/we-layerd/dxc' \
		$(PRIVATE_LIB)/libwallpaper-engine-renderer.so
	patchelf --set-rpath '$$ORIGIN/cef' \
		$(PRIVATE_LIB)/we-cef-helper

override_dh_makeshlibs:

override_dh_shlibdeps:
	dh_shlibdeps \
		-l$(PRIVATE_LIB)/cef:$(PRIVATE_LIB)/we-layerd/dxc \
		-- --ignore-missing-info

override_dh_strip:
	dh_strip \
		-Xusr/lib/cef \
		-Xusr/lib/we-layerd/dxc

override_dh_dwz:

override_dh_auto_clean:
	cargo clean
